[Unit]
Description=Run USB mounter when the '/dev/block' directory is modified

[Service]
Type=oneshot
ExecStart=
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
